data/smallset
data/dataset.tar.gz
*.pyc
*/_gen/
*/gen_cmd.py
.DS_Store
._.DS_Store
git_bak
/savings/imdb/*
/savings/yelp2013/*
/savings/yelp2014/*
/savings/sst01/*
/savings/sst02/*

!/savings/imdb/config
!/savings/yelp2013/config
!/savings/yelp2014/config
!/savings/sst01/config
!/savings/sst02/config
